<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mwanser.tequilatracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddReview"
            android:label="@string/title_activity_add_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LocationSearch" />
        <activity
            android:name=".SearchForItems"
            android:label="@string/title_activity_search_for_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateUser"
            android:label="@string/title_activity_create_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>